Repository OCXStandard/ocx-common: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock, poetry-export

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  pass_filenames: false

poetry-lock:
  name: poetry-lock
  description: run poetry lock to update lock file
  entry: poetry lock
  language: python
  pass_filenames: false

poetry-export:
  name: poetry-export
  description: run poetry export to sync lock file with requirements.txt
  entry: poetry export --without-hashes --with docs -o ./docs/requirements.txt
  language: python
  language_version: python3
  pass_filenames: false

Updated CHANGELOG.md
  CHANGELOG.md
  pyproject.toml
Due: poetry-check, poetry-lock

Bump to 1.0.0
  CHANGELOG.md
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
Due: poetry-check, poetry-lock

Changed github workflow for python-publish.yaml
  .github/workflows/python-publish.yaml
  CHANGELOG.md
Due: none

Bump to 1.0.1
  CHANGELOG.md
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
Due: poetry-check, poetry-lock

Updated test and pre-commit
  docs/requirements.txt
  ocx_common/__init__.py
  ocx_common/parser/parsers.py
  ocx_common/utilities/downloader.py
  ocx_common/utilities/ocx_xml.py
  ocx_common/utilities/source_validator.py
  ocx_common/utilities/utilities.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/data/OCX_Schema.xsd
  tests/data/models/NAPA-OCX_M1.3docx
  tests/data/schemas/OCX_Schema.xsd
  tests/data/schemas/unitsmlSchema_lite-0.9.18.xsd
  tests/data/schemas/xml.xsd
  tests/data/xml.xsd
  tests/test_downloader.py
  tests/test_ocx_path.py
  tests/test_ocx_path_builder.py
  tests/test_ocx_xml.py
  tests/test_ocx_xml/test_get_all_namespaces.yml
  tests/test_parsers.py
  tests/test_source_validator.py
  tests/test_utilities.py
Due: poetry-check, poetry-lock, poetry-export

Bump to 1.1.0
  CHANGELOG.md
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
Due: poetry-check, poetry-lock

Moved to uv package tools
  .pre-commit-config.yaml
  Makefile
  docs/conf.py
  docs/modules.rst
  docs/requirements.txt
  ocx_common/__init__.py
  ocx_common/clients/clients.py
  ocx_common/decorators/decorators.py
  ocx_common/interfaces/interfaces.py
  ocx_common/loader/loader.py
  ocx_common/parser/parsers.py
  ocx_common/utilities/downloader.py
  ocx_common/utilities/ocx_xml.py
  ocx_common/utilities/source_validator.py
  ocx_common/utilities/utilities.py
  ocx_common/utilities/validation.py
  ocx_common/x_path/x_path.py
  ocx_common/x_path/xelement.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_downloader.py
  tests/test_ocx_path.py
  tests/test_ocx_path_builder.py
  tests/test_parsers.py
  tests/test_rest_client.py
  tests/test_source_validator.py
  tests/test_utilities.py
  tests/test_validation.py
  uv.lock
Due: poetry-check, poetry-lock, poetry-export

Moved to uv package tools
  .github/workflows/python-publish.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  environment.yaml
Due: none

Updated pre-commit
  .pre-commit-config.yaml
Due: none

Updated pre-commit
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-lock

Updated pre-commit and sync
  CHANGELOG.md
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-lock

Updated pre-commit and sync
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-lock

Bump to 1.6.0
  CHANGELOG.md
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
Due: poetry-check, poetry-lock

Updated github action to use uv
  .github/workflows/python-publish.yaml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry-check, poetry-lock, poetry-export

Bump to 2.0.0
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
Due: poetry-check, poetry-lock

Fixed bub in github action to use uv
  .github/workflows/python-publish.yaml
Due: none

Bump to 2.1.0
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
Due: poetry-check, poetry-lock

Fixed bug in github action to use uv
  .github/workflows/python-publish.yaml
Due: none

Bump to 2.1.1
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
Due: poetry-check, poetry-lock

Bump to 2.1.2
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
Due: poetry-check, poetry-lock

Bump to 2.1.3
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
Due: poetry-check, poetry-lock

Added serialising to json and xml Added more tests Added XSD schema parser
  CHANGELOG.md
  Makefile
  ocx_common/clients/wiki_client.py
  ocx_common/clients/wiki_struct_data.py
  ocx_common/parser/parsers.py
  ocx_common/serializer/__init__.py
  ocx_common/serializer/cli.py
  ocx_common/serializer/resource/gitb_trl_stylesheet_v1.0.xsl
  ocx_common/serializer/serializer.py
  ocx_common/utilities/downloader.py
  ocx_common/utilities/utilities.py
  ocx_common/utilities/validation.py
  pyproject.toml
  tests/test_ocx_path.py
  tests/test_ocx_path_builder.py
  tests/test_parsers.py
  tests/test_serializer.py
  tests/test_serializer/test_serialize_json.yml
  tests/test_utilities.py
  uv.lock
Due: poetry-check, poetry-lock

Bump to 1.2.5
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
Due: poetry-check, poetry-lock

Bump to 2.1.5
  CHANGELOG.md
Due: none

Bump to 2.1.5
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
Due: poetry-check, poetry-lock

Added LxmlElement and XmlParser wrappers
  ocx_common/parser/xml_document_parser.py
  ocx_common/serializer/cli.py
  tests/conftest.py
  tests/test_lxmlelement.py
  tests/test_xparse.py
  uv.lock
Due: none

Bump to 2.6.0
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
Due: poetry-check, poetry-lock

Added LxmlElement and XmlParser wrappers Updated tests
  pyproject.toml
  tests/data/models/NAPA-OCX_M1.json
  tests/data/schemas/OCX_Schema.json
  tests/data/schemas/ocx_comments.json
  tests/data/schemas/ocx_comments.xsd
  tests/test_xparse/test_get_namespaces.yml
  tests/test_xparse/test_get_referenced_files.yml
  tests/test_xparse/test_get_target_namespace.yml
  uv.lock
Due: poetry-check, poetry-lock

Bump to 2.6.1
  docs/conf.py
  ocx_common/__init__.py
  pyproject.toml
Due: poetry-check, poetry-lock

Replaced OcxParser wirh LxmlParser Updated tests
  docs/conf.py
  ocx_common/__init__.py
  ocx_common/clients/wiki_client.py
  ocx_common/clients/wiki_struct_data.py
  ocx_common/decorators/decorators.py
  ocx_common/interfaces/interfaces.py
  ocx_common/loader/loader.py
  ocx_common/lxml_wrapper/__init__.py
  ocx_common/lxml_wrapper/xelement.py
  ocx_common/ocx_query/__init__.py
  ocx_common/ocx_query/query.py
  ocx_common/parser/parsers.py
  ocx_common/parser/xml_document_parser.py
  ocx_common/serializer/serializer.py
  ocx_common/utilities/ocx_xml.py
  ocx_common/x_path/x_path.py
  tests/conftest.py
  tests/test_downloader.py
  tests/test_lxmlelement.py
  tests/test_ocx_path.py
  tests/test_ocx_path_builder.py
  tests/test_parsers.py
  tests/test_query.py
  tests/test_utilities.py
Due: none

Path conditions:
  poetry-check: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  poetry-lock: any of: ^(.*/)?(poetry\.lock|pyproject\.toml)$
  poetry-export: any of: ^(.*/)?poetry\.lock$
